---
import Layout from '../layouts/main.astro'
const posts = await Astro.glob('./posts/*.md')
---

<Layout>
  <p>My page content, wrapped in a layout!</p>
  {posts.map((p) => <a href={p.url}>{p.frontmatter.title}</a>)}
</Layout>
