---
import Layout from "../layouts/main.astro";
const posts = await Astro.glob("./posts/*.md");
---

<Layout>
  {
    posts.map((p) => (
      <div>
        <a href={p.url}>{p.frontmatter.title}</a>
      </div>
    ))
  }
</Layout>
