---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Ethan Jon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body>
    <div class="container mx-auto max-w-xl px-4">
      <nav>
        <a href="/">Home</a>
      </nav>
      <article>
        <slot />
      </article>
    </div>
  </body>
</html>
